<html>
  <h1>EP2 - Alexandre/Luciano/Milton</h1>  
  <UL>
    <h2>Insert</h2>
    <form action="/insert" method="POST">
      <input type="text" name="id_in"></input>  
      <input type="text" name="nome_in"></input>  
      <input type="submit"></input>
    </form>
  </UL>
  <UL>
    <h2>Update</h2>
    <form action="/update" method="POST">
      <input type="text" name="id_up"></input>  
      <input type="text" name="nome_up"></input>  
      <input type="submit"></input>
    </form>
  </UL>
  <UL>
    <h2>Delete</h2>
    <form action="/delete" method="POST">
      <input type="text" name="id_de"></input>  
      <input type="submit"><Delete/input>
    </form>
  </UL>
  
</html>>
